
span {
  position: absolute;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

table {
  width: 100%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: white;
  margin-top: 5rem;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

thead {
  background-color: #d9d9d9;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

em {
  color: #444;
}