/**
 * main.scss - Haupt-SCSS-Datei
 * 
 * Diese Datei ist aktuell leer und dient als Platzhalter für zukünftige
 * globale SCSS-Styles. Sie wird in App.jsx importiert.
 * 
 * Verwendung:
 * - Wird in App.jsx importiert
 * - Kann für globale SCSS-Styles verwendet werden
 * - Kann andere SCSS-Dateien importieren
 * 
 * Erweiterungsmöglichkeiten:
 * - Globale Mixins
 * - Globale Utility-Klassen
 * - Import von anderen SCSS-Dateien
 * - Globale Animationen
 */
