body {
    background-color: #F1F1F1;
}


.app-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 350px 1fr 280px;
    gap: 10px;
    padding: 20px;
    grid-template-areas:
    "header header header"
    "navbar main sidebar";
}

.header {
    grid-area: header;
    display: flex;
    gap: 9%;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.23)
}
.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.23)
}

.main {
    grid-area: main;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.23)
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.23)
}

.nav-btn {
    width: 100%;
    padding: 8px;
    text-align: left;
    margin-bottom: 5px;
}

.logo {
   width: 10%;
    min-width: 150px;
}

.topbar-button {
    background-color: white;
    width: 100px;
    padding: 10px 0 10px 0;
    border-radius: 12px;
}

.container {
display: flex;
    gap: 6%;


}


.input {
   border-radius: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
